<p>listtask works!</p>
[17:50] Deekshitha Kishtamgari
<table border="3">
    <thead>
        <th>S.NO</th>
        <th>NAME OF THE TASK</th>
        <th>STATUS</th>
        <th>Created Date</th>
        <th>ACTIONS</th>
       
       
    </thead>
<tbody>
    <tr>
        <td>1</td>
        <td>Install Angular</td>
        <td>Completed</td>
        <td>01/08/2022</td>
        <td>Edit</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Install VisualCode</td>
        <td>Completed</td>
        <td>01/08/2022</td>
        <td>Edit</td>
    </tr>

